@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display: none; }
    
    nav ul.hide{display:block;}
    
    nav ul {
        margin-left: 2%;
    }
    
    nav ul li{
        float: left;
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
    
    #section .smallview { display:  none; }  /* show the 10-day forecast with the medium view and up */

    
  }

/*end medium*/